@import 'reset';

.bar{
  fill: rgb(176, 220, 190)
}
.highlight{
  fill: rgb(63, 193, 158)
}

#comparecases{
  margin-left: 40px;
  margin-top: 3%;
  background-color: white;
}

body {
  background-image: url("../images/bearpatterncute.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tiptop{
  margin-top: 5%;
  margin-left: 11%;
  background-color: rgb(220, 255, 249);
  height: 50%;
  width: 50%;
  border: rgb(61, 61, 230) solid;
  border-width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
}
.content {
  display: flex; 
  flex-direction: column;
  padding: 13%;
}
.tiptop h1{
  margin-left: 10%;
  font-family:"Fontdiner Swanky";
  font-size: 2.4em;
  margin-bottom: 2%;
}
.tiptop div{
  font-family: "Stylish";
  font-size: large;
}
.firstimg{
  width: 90%;
  height: 100%;
}

#newcases{
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
}

.Facts{
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16%;
  width: 60%;
  font-family: "Comfortaa";
  background-color: rgb(156, 171, 226);
  padding: 3%
}

.Facts img{
  margin-left: 9%;
  width: 80%;
  display: flex;
}

.Facts label{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 3%;
  margin-left: 9%;
}
.Facts p {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.Facts ul {
  margin-left: 15%;
  list-style-type: circle;
}

.Facts li{
  padding-bottom: 1.5%;
}

#compareform {
  margin-top: 3%;
  margin-left: 26%;
  margin-right: 20%;
  padding: 3%;
  background-color: rgb(122, 241, 170);
  font-family: "Comfortaa";
  width: 40%;
  display: flex;
}

button{
  font-size: 14px;
  height: 10%;
  padding: 1.2%;
  border-radius: 12%;
  display: inline;
  margin-top: 35%;
  background-color: lemonchiffon;
}

button:hover{
  background-color: rgb(201, 201, 152);
}
#compareform {
  margin-top: 1.5%;
  margin-left: 16%;
  width: 60%;

}

#compareform h2{
  padding: 6%;
  width: 100%;
  margin-left: 18%;
}

#compareform h3{
  margin: 1.2%;
  padding-bottom: 1%;
  display: flex;
  margin-left: 30%;
  width: 100%;
}
#compareform .pick{
  margin-left: 39%;
  margin-bottom: 2%;
  
}
#compareform select{
  margin-bottom: 9%;
}

#2ndhistogram{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.bun{
  display: flex;
  z-index: 2;
  height: 100%;
  width: 40%
}
#histogram{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  margin-left: 7%;
}

#prob, #prob2{
  margin-top: 1.5%;
  margin-left: 16%;
  width: 60%;
}

.border {
  border: #3fc19e solid 0.5rem;
  border-radius: 25%;
  width: 40%;
  margin-left: 20%;
  margin-top: 5%;
  background-color: rgb(220, 255, 249);
}
.head2 h2, .new{
  font-family: "Fontdiner Swanky";
    font-size: 1.4em;
    margin-top: 3%;
    width: 60%;
    margin-left: 26%;
    z-index: 2;
   
}

h4 {
  width: 80%;
  margin-bottom: 1%;
}

.outsite {
  margin-left: 7%;
}

footer {
  margin-top: 3rem;
  padding-top: 4rem;
  padding-bottom: 4.2rem;
  font-size: 1.5rem;
  line-height: 2.7rem;
  background-color: rgb(156, 171, 226);
}
.about{
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.about h3{
  display: flex;
  justify-content: center;
}
.about ul{
  display: flex;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about ul li{
  display: flex;
  height: 100%;
  z-index: 6;
  margin-right: 3%;
}